:root {
  --black: #221E1D;
  --white: #ECEAE0;
  --gray: #878787;
  --red: #E9633B;
  --blue: #6265f4;
}

body {
  background-color: var(--white);
}

a:link, a:visited {
  color: var(--blue);
  text-decoration: none;
  transition: background-color .15s linear, color .15s linear;
}

a:hover {
  color: var(--red);
}

tr.dividerBottom > td {
  border-bottom: 1px solid black;
}

tr.dividerTop > td {
  border-top: 1px solid black;
}

#header {
  text-align: center;
}

#main {
  display: flex;
}

#left {
  flex: 1;
  margin-left: 20px;
  margin-right: 10px;
}

#canvas {
  flex: 2;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#right {
  flex: 1;
  margin-right: 20px;
  margin-left: 10px;
}

#regression {
  margin-top: 75px;
}

.status {
  background-color: var(--black);
  color: var(--red);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}


